.manage-users-container {
  padding: 10px;

  .title {
    font-size: 1.5em;
    font-weight: 500;
    text-transform: uppercase;
  }
  .user-content {
    .btn-add-new {
      margin: 10px 0;
    }
  }
}

.modal-add-user {
  .img-preview {
    border: 1px solid #ccc;
    height: 150px;
    border-style: dashed;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ccc;
    img {
      max-height: 100%;
      max-width: 100%;
    }
  }
  .label-upload {
    padding: 5px 10px;
    display: flex;
    gap: 5px;
    align-items: center;
    background: #eee;
    width: fit-content;
    border-radius: 10px;
    cursor: pointer;
    &:hover {
      background-color: #dcdcdc;
    }
  }
}
